@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ant-btn-primary {
  background-image: initial;
  background-color: rgb(24, 144, 255);
}
.ant-pagination-item-link {
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 14px !important;
}

#root {
  height: 100%;
}



.anticon-close-circle {
  vertical-align: 0.125rem;
}

.anticon-user {
  vertical-align: 0.125rem;
}